/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
       */
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.card-content {
  padding: 0;
}

.expenses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.income-icon {
  color: green;
  font-size: 2em;
}

.expense-icon {
  color: red;
  font-size: 2em;
}

.footer-btn {
  border: none;
  cursor: none;
}

.add-icon {
  color: red;
  font-size: 2em;
  cursor: pointer;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #0079ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  margin: 10px;
}

.plus {
    color: green;
}

.minus {
    color: red;
}

.trash-btn {
    cursor: pointer;
}